*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main{
    max-width: 60%;
    min-width: 100px;
  
    border: 2px solid black;
    padding: 40px 10px 40px 10px;
    margin: auto;
    margin-top: 30px;
    box-shadow: 0px 0px 20px black;
    background-color: black;

}
.block{

min-width: 100px;
border: 1px solid black;
margin: 2px 10px 2px 10px;
text-align: center;
border-radius:10px ;
background-color: white;

color: rgb(3, 3, 3);
font-size: 2em;


}

.parent{
    display: flex;
    justify-content: center;
    
    flex-wrap: wrap;
}
button{
    min-width: 100px;
    padding: 10px 0px 10px 0px;
    margin: 10px;

    background-color: black;
    color: white;
    border-color: white;
   
    
}
.btn{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}